{% extends 'shop.html' %}

{% block title %}
Clothes - Online Shop
{% endblock %}

{% block header %}
Our clothes
{% endblock %}

{% block navigation %}
<ul>
    <li><a href="/">Main page</a></li>
    <li><a href="/shoes/">Shoes</a></li>
    <li><a href="/jacket/">Jacket</a></li>
</ul>
{% endblock %}

{% block main_heading %}
Our Clothes
{% endblock %}

{% block main_content %}
<ul>
    <li>Clothing item 1</li>
    <li>Clothing item 2</li>
    <li>Clothing item 3</li>
</ul>
{% endblock %}

{% block footer %}&copy; 2024 Online Shop. All rights reserved.{% endblock %}