{% extends 'shop.html' %}

{% block title %}
Shoes - Online Shop
{% endblock %}

{% block header %}
Our shoes
{% endblock %}

{% block navigation %}
            <ul>
                <li><a href="/">Main page</a></li>
                <li><a href="/clothes/">Clothes</a></li>
                <li><a href="/jacket/">Jacket</a></li>
            </ul>
{% endblock %}

{% block main_heading %}
Our Shoes
{% endblock %}

{% block main_content %}
<ul>
    <li>Shoes item 1</li>
    <li>Shoes item 2</li>
    <li>Shoes item 3</li>
</ul>
{% endblock %}

{% block footer %}&copy; 2024 Online Shop. All rights reserved.{% endblock %}